.calculator {
    text-align: center;
    background-color: #f5f5f5;
    border: 2px solid #c2c2c2;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 320px;
    margin: 0 auto;
  }
  
.calculator-screen{
    width: 100%;
    height: 100px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 36px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
}
  
.row {
    display: flex;
    justify-content: space-between;
  }
  
.calculator-keys{
    width: 100%;
    display: grid;
}

button{
    height: 75px;
    background-color: darkgray;
    font-size:32px;
    color: #f5f5f5;
    width: 25%;
    margin: 2px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.all-clear, .zero-btn{
    width: 50%;
}

.operator, .equal-sign{
    background-color: orange;
}

button:hover{
    background-color: darkslategrey;
}

.operator:hover,.equal-sign:hover{
    background-color: darkorange;
}

  